{% extends 'base.html.twig' %}

{% block title %}Reception index{% endblock %}

{% block body %}
    <h1>Bon de commande à traiter</h1>

   {% for b in bondecommande %}
       <a href="{{ path('app_pharmaciegros_entity_reception_new',{'bondecommande': b.id}) }}">{{ b.supplier.name }} {{ b.referencenumber }}</a><br>
    {% endfor %}

{% endblock %}
