{% extends 'base.html.twig' %}

{% block title %}Reception index{% endblock %}

{% block body %}
    <h3>Bon de commande à traiter</h3>

   {% for b in bondecommande %}
       <a href="{{ path('app_pharmaciegros_entity_reception_new',{'bondecommande': b.id}) }}">{{ b.supplier.name }} {{ b.orderdate | date('d/m/Y') }}</a><br>
    {% endfor %}

{% endblock %}
