{% extends 'base.html.twig' %}

{% block title %}New Reception{% endblock %}

{% block body %}
    <h1>Create new Reception</h1>

    {{ include('pharmaciegros/reception/_form.html.twig') }}

    <a href="{{ path('app_pharmaciegros_entity_reception_index') }}">back to list</a>
{% endblock %}
