{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for facture in factures %}
        <a href="{{ path('app_economat_entity_paiement_new', {'facture':facture.id}) }}">{{ facture.numero }} {{ facture.dossierpatient.patient.nom }} {{ facture.dossierpatient.patient.prenoms }}</a>
    {% endfor %}
{% endblock %}
