{% extends 'base.html.twig' %}

{% block title %}Edit Dispensation{% endblock %}

{% block body %}
    <h1>Edit Dispensation</h1>

    {{ include('pharmaciegros/dispensation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pharmaciegros_entity_dispensation_index') }}">back to list</a>

    {{ include('pharmaciegros/dispensation/_delete_form.html.twig') }}
{% endblock %}
