{% extends 'base.html.twig' %}

{% block title %}Edit Payment{% endblock %}

{% block body %}
    <h1>Edit Payment</h1>

    {{ include('pharmaciegros/payment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pharmaciegros_entity_payment_index') }}">back to list</a>

    {{ include('pharmaciegros/payment/_delete_form.html.twig') }}
{% endblock %}
