{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}
    <h3>Paiement</h3>
    <p>Montant à payer : {{ resteapayer }} Ar</p>

    {{ include('pharmaciegros/payment/_form.html.twig') }}

{% endblock %}
