{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" name="action" value="interne" class="btn btn-success">Prescrire (Interne)</button>
    <button type="submit" name="action" value="externe" class="btn btn-secondary">Prescrire (Externe)</button>

{{ form_end(form) }}
