{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Create New Location</h1>

    {{ include('pharmaciegros/location/_form.html.twig') }}

    <a href="{{ path('app_pharmaciegros_entity_location_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
