{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <a href="{{ path('app_shared_entity_tarifacte_index') }}">Tarif acte</a><br>
    <a href="{{ path('app_facturation_entity_typeanalyse_index') }}">Tarif analyse</a>
{% endblock %}
