{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <a href="{{ path('app__new_consultation') }}">Consultation</a>
    <a href="">Examen (analyse)</a>
    <a href="">Urgence</a>
    <a href="">Vaccin</a>
{% endblock %}
