{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Nouveau patient</h1>

    {{ include('shared/patient/_form.html.twig') }}

    <h1>Patient existant</h1> {# TODO Micreer dossier patient à partir ny patient efa misy #}
    {% for patient in patients %}
        {{ patient.nom }} {{ patient.prenoms }}<br>
    {% endfor %}

{% endblock %}
