{% extends 'base.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    {{ include('pharmaciegros/supplier/_form.html.twig') }}

    <a href="{{ path('app_pharmaciegros_entity_supplier_index') }}">back to list</a>
{% endblock %}
