{% extends 'base.html.twig' %}

{% block title %}New Tarifacte{% endblock %}

{% block body %}
    <h1>Create new Tarifacte</h1>

    {{ include('shared/tarifacte/_form.html.twig') }}

    <a href="{{ path('app_shared_entity_tarifacte_index') }}">back to list</a>
{% endblock %}
