<form method="post" action="{{ path('app_pharmaciegros_entity_purchaseorder_delete', {'id': purchaseorder.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchaseorder.id) }}">
    <div>
    <button class="btn btn-primary" style="font-size: 1em">Delete</button>
    </div>
</form>
